/*******************************************************************************
 * mo-basic.layout.scss
 *
 * Styling of the "Golden" layout demonstrating the mo-basic rule and asymmetric
 * grids with Singularity.
 ******************************************************************************/
.panel-display--mo-basic {
  /**zoom: 1;*/
}
.panel-display--mo-basic:after {
  /*content: "";
  display: table;
  clear: both;*/
}

.mo-basic-region {
  /*margin-bottom: 20px;*/
}

/*@media (min-width: 700px) {
  .mo-basic-region--first {
    width: 100.0%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  .mo-basic-region--second {
    width: 61.98347%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: both;
  }

  .mo-basic-region--third {
    width: 37.19008%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 1250px) {
  .mo-basic-region--first {
    width: 50.33557%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }

  .mo-basic-region--second {
    width: 30.20134%;
    float: left;
    margin-right: -100%;
    margin-left: 51.00671%;
    clear: none;
  }

  .mo-basic-region--third {
    width: 18.12081%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}*/
